/* 
           #3A3A3C
           #6b6b6e 
*/

*{
    padding: 0;
    margin: 0;
}
@keyframes entryanimate {
    from {
        opacity: 0;
        translate: -100vw 0;
        transition: 1s ease-out;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
@media screen and (max-width: 992px) {
    #hamb-ico{
        font-size: 3em;
       
    }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}
    div#hamburguer{
        position: absolute;
        top: 5%;
        left: 85vw;
        width: 60px;
    }   
   
    div#links {
        display: none;
    }
    div#logo img {
        width: 90px;
        height: 90px;
    }
     section article.foto {
        display: none;
    }
    article img {
        display: none;
    }
    nav {
        display: flex;
        height: 90px;
        width: 100vw;
        background-color: #f3e9dc;
        padding: 10px 0px 10px 10px;
    
    }
    nav div{
        color: #3A3A3C;
    }
    nav img {
        padding: 5px 10px 5px 0px;
    }
    nav div#descricao{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        padding-top: 10px;
    }
    nav div#links{
       position: absolute;
       top: 20%;
       left: 70%;
       transform: translate(-50%, -50%);
       padding: 10px;
       width: 100%;
    }
    nav div#links a {
            text-decoration: none;
            font-size: 1.4em;
            padding: 10px;
            color: #6b6b6e;
    }
    nav div#links a:hover{
    
        background-color: #3A3A3C; 
        border-radius: 10px;
        transition: .5s;
       color: white;
    }
    div#agenda{
        height: 110px;
        width: 300px ;
        background-color: #3A3A3C;
        padding: 0;
        margin: 0;
       position: absolute;
       top: 320%;
       left: 10%;
      
    }
    div#agenda a {
        text-decoration: none;
        color: white;
        
      
    }
    div#agenda a:hover {
        color: #a2a2a6;
        transition: .5s;
    }
    div#botao{
        height: 110px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#botao button {
        border: 2px solid  #6b6b6e;
        border-radius: 5px;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3em;
        color: #a2a2a6;
        background-color: #3a3a3c00;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;  
    }
    article{
        background-color: rgba(255, 255, 255, 0.601);
        height: 800px;
        width: 450px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 600;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.619);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #141415;
        font-weight: 600;
        font-size: 1.2em;
       
    }
    article h1, p {
        animation: entryanimate 1s;
      
    }
    
    #image article h1, p{
        padding: 10px;
     
    }
    section#imagedois article{
        background-color: rgba(255, 255, 255, 0.51);
    }
    #image img {
        height: 800px;
        width: 450px;
        animation: entryanimate 1s;
    }
    #image h1 {
        padding-bottom: 15px;
    }
    #image h1, p {
        text-align: center;
    
    }
    #image h1{
       
        color: black;
    }
    
    #image{
        background-image: url(../img/imagem1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        }
    #imagedois{
        background-color: white;
    }
    article img {
        height: 800px;
        width: 470px;
    }
    #imagetres{
        background-image: url(../img/imagem2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #imagetres img {
        width: 450px;
    }
    
}


@media only screen and (min-width: 992px)  {
    
div#hamburguer{
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    height: 90px;
    max-width: 100vw;
    background-color: #f3e9dc;
    padding: 10px 0px 10px 40px;

}
nav div{
    color: #3A3A3C;
}
nav img {
    height: 90px;
    padding: 5px 10px 5px 0px;
}
nav div#descricao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    padding-top: 10px;
}
nav div#links{
   position: absolute;
   top: 5%;
   left: 40vw;
}
nav div#links a {
        text-decoration: none;
        font-size: 1.4em;
        padding: 10px;
        color: #6b6b6e;
}
nav div#links a:hover{

    background-color: #3A3A3C; 
    border-radius: 10px;
    transition: .5s;
   color: white;
}
div#agenda{
    height: 110px;
    background-color: #3A3A3C;
    padding: 0;
    margin: 0; 
    position: absolute;
    top: 0px;
    left:   78% ;

}
div#agenda a {
    text-decoration: none;
    color: white;
    
  
}
div#agenda a:hover {
    color: #a2a2a6;
    transition: .5s;
}
div#botao{
    height: 110px;
    width: 00px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#botao button {
    border: 2px solid  #6b6b6e;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: #a2a2a6;
    background-color: #636367;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;  
}
article{
    background-color: rgba(255, 255, 255, 0.601);
    height: 800px;
    width: 450px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.619);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #141415;
    font-weight: 600;
    font-size: 1.8em;
   
}
article h1, p {
    animation: entryanimate 1s;
  
}

#image article h1, p{
    padding: 10px;
 
}
section#imagedois article{
    background-color: rgba(255, 255, 255, 0.51);
}
#image img {
    height: 800px;
    width: 450px;
    animation: entryanimate 1s;
}
#image h1 {
    padding-bottom: 15px;
}
#image h1, p {
    text-align: center;

}
#image h1{
   
    color: black;
}

#image{
    background-image: url(../img/imagem1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    }
#imagedois{
    background-color: white;
}
article img {
    height: 800px;
    width: 470px;
}
#imagetres{
    background-image: url(../img/imagem2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#imagetres img {
    width: 450px;
}


}
